configstore/
mume/
flutter/
fontforge/
karabiner/
linearmouse/
firebase/
rest-client/
yarn/

fish/fishd.tmp*
fish/fish_variables
fish/functions/
fish/completions/
fish/conf.d/_tide_init.fish
fish/conf.d/nvm.fish
fish/conf.d/z.fish
